language: python
python:
  - "3.7"
  - "3.8"
install:
  - pip install pdoc3
  - pip install git+https://github.com/jetilton/cwmspy.git
script:
  - pdoc --html cwmspy
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local_dir: html/cwmspy
  on:
    branch: master
